:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --h1: calc(var(--unit) * 6px);
  --h2: calc(var(--unit) * 2px);
  --h3: calc(var(--unit) * 1.5px);
  --h4: calc(var(--unit) * 1.3px);
  --h5: calc(var(--unit) * 1.1px);
  --h6: calc(var(--unit) * 1px);
}
