@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.main {
  position: relative;

  @media (--media-tablet) {
    position: absolute;
    left: 5rem;
    top: 5rem;
  }
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
  display: flex;
  flex-direction: column;

  @media (--media-tablet) {
    padding: 1.5em 1.5em;
  }

  & a {
    font-size: var(--h2);
    text-decoration: none;
    margin: 1rem 0;
  }
}
